.Search {
  position: relative;
  width: calc(100%);
  height: 35px;
  margin: 0 auto;
  padding-bottom: 10px;
}

@media (max-width: 700px) {
  .Search {
    width: 100%;
  }
}

.Search-icon {
  z-index: 1;
  position: absolute;
  top: 9px;
  left: 10px;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.Search-input {
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #848484;
  padding-left: 35px;
  color: #000000;
  opacity: .8;
  transition: opacity .2s linear, background-color 0.3s ease-in-out;
  width: 100%;
  height: 35px;
  font-size: 18px;
}

.Search-input:focus {
  outline: none;
  opacity: 1;
}

.Search ::placeholder {
  color: #848484;
  opacity: 1;
}

.Search-loading {
  position: absolute;
  top: 9px;
  right: 10px;
}

.Search-result-container {
  position: relative;
  width: 100%;
  max-height: 299px;
  overflow-y: auto;
  background-color: #0f273d;
  border: 1px solid #0c2033;
  border-radius: 4px;
  box-shadow: 0px 0px 40px 0px#1f364d;
  margin-top: 10px;
}

.Search-result {
  color: #9cb3c9;
  padding: 15px 0 15px 35px;
  border-bottom: 2px solid #0c2033;
  cursor: pointer;
}

.Search-result:hover {
  color: #fff;
}

.Search-no-result {
  color: #9cb3c9;
  padding: 15px 0 15px 35px;
  border-bottom: 1px solid #848484;
}
.searchButtons {
  display: flex;
  justify-content: space-between;
}
button, 
button:active, 
button:focus {
    outline: none;
}
.button {
  padding: 5px 10px;
  font-size: 18px;
}
.mylocation {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #848484;
  transition: background-color 0.1s linear;
}
.mylocation:hover {
  background-color: #ccc;
}
.search {
  color: #ffffff;
  background-color: #76d88d;
  border-radius: 5px;
  border: none;
  transition: background-color 0.1s linear;
}
.search:hover {
  background-color: #52ad68;
}
/* input animation */
.inputWrap {
  position: relative;
}
.inputWrap span {
  position: absolute;
  background-color: #52ad68;
  transform-origin: center;
  transition: transform 0.5s ease;
}

.bottom,
.top {
  height: 3px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left,
.right {
  width: 3px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

input:focus ~ .top, input:focus ~ .bottom {
  transform: scaleX(1);
}

input:focus ~ .left, input:focus ~ .right {
  transform: scaleY(1);
}
